#scrollbar::-webkit-scrollbar{
    width: 0;
}

.scroll-div li{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.scroll-div li h6{
    color: var(--white-color);
}
.scroll-div li span{
    color: var(--gray-color);
}

.language-div{
    display: inline-block;
    width: 33%;
    font-size: 13px;
    margin-bottom: 15px;
}


.skill-label{
    @apply flex items-center justify-between text-[13px] text-light-gray-color
}

.skill-progress-bar-div{
    @apply w-full bg-primary-bg-color mt-1 h-[4px] relative rounded-sm
}
.skill-progress-bar{
    @apply  h-full inline-block bg-brand-color absolute rounded-sm
}