@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Poppins:wght@300;400;500;600;800&display=swap');


:root {
  --primary-font: Poppins, sans-serif;
  --secondary-font: Courier-Prime, monospace;

  --primary-bg-color : #191923;
  --secondary-bg-color : #20202a;
  --gradiant-dark-first-color : rgba(37,37,50,.98);
  --gradiant-dark-second-color : rgba(35,35,45,.98);
  --gradiant-light-first-color : #2d2d3a;
  --gradiant-light-second-color : #2b2b35;
  --white-color : #fff;
  --brand-color : #ffc107;
  --gray-color : #8c8c8e;
  --light-gray-color : #cacace ;

  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html{
  scroll-behavior: smooth !important;
}

body{
  font-family: var(--primary-font);
  background-color: var(--primary-bg-color);
  font-size: 13px
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
	width: 0;
}


.text-small{
  @apply text-[13px]
}

.light-gradiant {
  @apply from-gradiant-dark-first-color to-gradiant-dark-second-color
}

.gradiant-bg{
  background-image:  linear-gradient(159deg,#2d2d3a 0%,#2b2b35 100%);
}

.acitve-div{
  transform: translateX(-150px);
}


h1{
  @apply md:text-[51px] text-[44px] font-[800] leading-[1.2] 
  
}


h4{
  @apply text-[18px] md:text-[22px] font-[800]
}

h5{
  font-size: 14px;
  font-weight: 600;
  color: white;
}
h6{
  font-size: 13px;
  font-weight: 400;
  color: white;
}


.scrollbar-track{
  display: none !important;
}

.scrollbar-thumb {
  width: 0 !important;
}

