.active{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--primary-color);
    cursor: pointer;
}
.default {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--black-color);
    transition-duration: .1s;
}
.default:hover {
    color: var(--primary-color);
}