@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&family=Rancho&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Raleway', sans-serif;
  background-color: #faf9ff
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #32A99A;
  --secondary-color: #A6CE39;
  --light-secondary-color: #d5df31;
  --black-color: #070707;
  
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::selection {
  background-color: var(--primary-color);
  color: var(--black-color);
}